@{
    ViewBag.Title = "About";
}


<!--HEADER SECTION-->

<!--END HEADER SECTION-->
<!--SECTION START-->
<section>
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                   
                    <div class="text-justify">
                        <p style="float:left; padding-right:30px;">


                            <img src="~/images/law/proffunmiadeleke.jpg" width="200" height="200" />
                        </p>
                        <p>
                            This university&#39;s visitor and founder thought out an enduring and everlasting
                            legacy to today&#39;s young ones who shall eventually be tomorrow&#39;s leaders by
                            establishing this beautifully landscaped University with a well-developed
                            foundation for academic excellence. Law programme features prominently
                            among other faculties and colleges.
                        <p>
                        <p>
                            The Faculty of Law, Elizade University, Ilara-Mokin, Ondo State places a high
                            value on teaching and research, and these two are given prime priorities as
                            reflected in the curriculum and entire package of the LL.B programme being
                            offered by the faculty. We note that there is a paradigm shift in the practice of law
                            to meet with the pace at which the global world is adapting to evolving changes
                            in the socio-economic and political landscape, we are therefore committed to
                            providing modern and contemporary legal education and research needed to
                            succeed in the ever-developing world. We are poised to produce knowledgeable
                            intellectuals and skilled professionals equipped to contribute to the national
                            economic and social development in all ramifications where law knowledge will
                            be required.
                        </p>
                        <p>
                            Against the background that the knowledge of the law is relevant and needed in
                            every segment of society, the faculty is set to establish a workable and
                            beneficent relationship with the outside world both in academic and relevant
                            industries. The faculty is also blessed with academic staff members and non-
                            academic support staff who provide qualitative scholarship and moral rectitude to
                            ensure that the students realise their lofty goals, dreams, and aspirations of
                            becoming law experts in the diverse and multifaceted areas of law. The faculty&#39;s
                            human efforts are uniquely complemented with the cultural hub, serenity and
                            natural ambience, all of which guarantee a conducive environment for students to
                            learn.
                        </p>
                        <p>
                            Over 70 percent of the staff members are PhD holders in diverse areas of law
                            and are graduates from reputable universities, both onshore and offshore. A
                            modern separate law library infused with modern technological aid in teaching
                            and research is being built in the faculty to serve law students exclusively. Our e-
                        </p>
                        <p>
                            library is constantly alive with the internet to serve the students and staff
                            researchers. The new library aims to drive the frontier of research and
                            knowledge-based study to ensure academic growth and professional
                            competence.
                        </p>
                        <p>
                            In order to create an atmosphere of the diversity of perspectives to strengthen
                            the intellectual enquiries of our students, we have carefully designed a town and
                            wig programme where people who are experts in the legal profession both in
                            academia and in litigation/industry are periodically invited to give stimulating talks
                            and professional legal discourse on diverse areas of law. Why not join us to
                            reach these desirable academic goal and professional accomplishments.
                            EU Law Faculty promises the best legal education.
                        </p>
                        <span class="bb-text" style="font-weight:700">
                            Prof. Funminiyi A. R. Adeleke
                            Dean of the Faculty of Law
                        </span>


                    </div>
                </div>              
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                   
                    <div class="text-justify">
                       
<p>
     FACULTY’S LAW CLINIC
The faculty has just set up a law clinic in line with the Network of University Legal Aid Institutions (NULAI). Historically, Law Clinic's birth arose due to the observed declining standard of legal education and the country's poor quality. This led to the call for a paradigm shift in how law students are being trained both at the universities and the law school. A Curriculum reform was effected to make the law programme more skills-based and depart from theoretical exercises to practical learning processes. 
</p>
<p>
Engaging in clinical legal education, therefore, 
aims at bridging the gap between theory and practice.
 Elizade, a university situated very close to the city 
 of Akure, the capital of Ondo State, no doubt, occupies an advantageous position to further the observance of social justice as the society under-privileged in the community will have access to adequate legal representation apart from making law students sensitive to the concerns of marginalised groups in the society.
<p>

Faculty of Law Elizade University, Law Clinic hosted the 2018 Africa Clinical Legal Education Colloquium. The faculty has also engaged in a few community services. The Law Clinical Education will, among other things, provide hands-on experience to law students on how to conduct fact-finding investigations, interviews, counselling, legal research and drafting skills. It will provide opportunities for students to examine the impact of law doctrines in real-life situations and provide a laboratory where students and faculty study particular areas of law. The Law Clinic is situated within the Faculty of Law complex, and it forms part of the faculty's teaching resources. 

</p>
                       
                    
                       

                    </div>
                </div>
				
			

				
				
    

					
               
                <div class="ed-about-sec1">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</section>




<section>
    <div class="icon-float">
        <ul>
            <li><a href="#" class="sh">1k <br> Share</a> </li>
            <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
            <li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
            <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
            <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
            <li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
            <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
        </ul>
    </div>
</section>
