
@{
    ViewBag.Title = "Courses";
}


<section>
    <div class="container com-sp pad-bot-0">
	 <div class="con-title"> <h2>PHILOSOPHY OF THE LL. B DEGREE PROGRAMME </h2>  </div>
        
		
<p class="text-justify">
The Law programme's main focus is to create an environment that encourages intellectual rigour, analytical and critical engagement, and profound ethical standards. The programme will produce law graduates who can globally compete in legal, social, economic, and political developments. The university's Law programme is also designed to produce lawyers readily capable of coping with society's legal needs in light of social, economic, political, cultural, and technological advancements. Graduates of the programme would be able to deliver competently on the expectations of employers and other users of their services in government, legal practice and academics. In this sense, the Law programme has been designed to ensure that Law graduates have a robust general knowledge 
of the law and a clear understanding of the law's place and importance in society. 
</p>
		
<div class="con-title"> <h2>AIM AND OBJECTIVES</h2>  </div>
<p class="text-justify">
The LL.B programme in Elizade University, which shall be resident in the Faculty of Law, aims at providing students with a sound foundation of legal knowledge by teaching law in the light of technological, social, political and economic changes. Thus, the programme includes law courses, relevant courses from the humanities and social sciences, and entrepreneurship. 
</p>
<p>
The programme is based on the course credit system, which offers students a broad-based and qualitative legal education through the conscious combination of legal and non-legal courses at the teaching, research and community service levels to produce lawyers who have a wide knowledge of the society and environment and are readily able to use the law as a tool for the solution of social, political, economic and cultural problems in the society.
</p>
<p>
Specifically, the aim and objectives of the Elizade 
University degree programme in law include:
<ul>
<li>To ensure that students are imbued with general knowledge and understanding of the law.</li>
<li>Develop in students the intellectual ability to apply research, 
    knowledge and analytical skills to solving theoretical and practical legal problems.</li>
<li>To acquaint students with principles of the judicial process and legal systems and their interaction with socio-economic frameworks.</li>
</ul>
</p>
<div class="con-title"> <h2>ORGANISATION AND MANAGEMENT OF THE PROGRAMME </h2>  </div>
<p class="text-justify">
In the ultimate period of development of the faculty, 
courses in the Law programme will 
be offered in the following Departments:
<ul>
    <li>Department of Private and Property Law (PPL)</li>
    <li>Department of Public and International Law (PIL)</li>
    <li>Department of Business Law (BUL)</li>
</li>
</ul>
</p>

	</div>
<section>

<section class="pop-cour">
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="con-title">
                <h2>All <span>Departments</span></h2>
               @* <p></p>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <!--POPULAR COURSES-->
                    <div class="home-top-cour">
                        <!--POPULAR COURSES IMAGE-->
                        <div class="col-md-3"> <img src="~/images/law/2.jpg" alt=""> </div>
                        <!--POPULAR COURSES: CONTENT-->
                        <div class="col-md-9 home-top-cour-desc">
                            <a href="course-details.html">
                                <h3>Department of Private and Property Law (PPL)</h3>
                            </a>
                            <h4>Law / PPL </h4>
                           @* <p></p> <span class="home-top-cour-rat">4.2</span>*@
                            <div class="hom-list-share">
                              <ul>
                                    <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> More Infomation</a> </li>
                                   @* <li><a href="course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>10 Aavailable</a> </li>
                                    <li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a> </li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--POPULAR COURSES-->
                    <div class="home-top-cour">
                        <!--POPULAR COURSES IMAGE-->
                        <div class="col-md-3"> <img src="~/images/law/3.jpg" alt=""> </div>
                        <!--POPULAR COURSES: CONTENT-->
                        <div class="col-md-9 home-top-cour-desc">
                            <a href="#">
                                <h3>Department of Public and International Law (PIL)</h3>
                            </a>
                            <h4>Law / PIL</h4>
                            
                            <div class="hom-list-share">
                                <ul>
                                    <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> More Infomation</a> </li>
                                  @*  <li><a href="course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>40 Aavailable</a> </li>
                                    <li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 320</a> </li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--POPULAR COURSES-->
                    <div class="home-top-cour">
                        <!--POPULAR COURSES IMAGE-->
                        <div class="col-md-3"> <img src="~/images/law/5.jpg" alt=""> </div>
                        <!--POPULAR COURSES: CONTENT-->
                        <div class="col-md-9 home-top-cour-desc">
                            <a href="#">
                                <h3>Department of Business Law (BUL)</h3>
                            </a>
                            <h4>LAW / BUL</h4>
                            
                            <div class="hom-list-share">
                                <ul>
                                    <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> More iNformation</a> </li>
                       
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--POPULAR COURSES-->
                  
                </div>
            </div>
          
        </div>
    </div>
</section>

