@model Journal

@{
   ViewBag.Title = "Journal";
}


 <!--SECTION START-->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>Department of Law <span> Journal</span></h2>
                            
                        </div>
                        <div>
                            <div class="ho-event pg-eve-main">
                                <ul>
                                    
                                    <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="#">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify"><strong>The Imperatives of Making Renewable Energy 
                                                an Option in Nigeria's Power Industry:
                                                 The Legal Perspective</strong>
                                            </div>
                                            <span>Olujobi, Olusola Joshua (Phd)</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                              <a href="~/Documents/EULJ Volume II 2019 (1) (1).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>
                                    
                                    <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify"><strong>Jurisdiction Over Non-Muslim Personal Law Disputes
                                                 in Northern Nigeria: Can the State High 
                                            Court be A Forum Necessitatis?</strong></div>
                                            <span> - Abubakri Yekini.</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                           <a href="~/Documents/EULJ Volume II 2019 (1) (1).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>


                                    <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify"><strong>JA Critique of the Governor’s
                                                 Power on Revocation of Certificate of Occupancy under the Land Use Act,
                                                 1978.</strong> </div>
                                            <span> - Prof. O J Jejelola</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                            <a href="~/Documents/EULJ Volume II 2019 (1) (1).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>


                                      <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify"><strong>Determination of Contract of
                                                 Employment in Nigeria </strong> </div>
                                            <span> - Ebenezer-Fikayo Adeojo</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                            <a href="~/Documents/EULJ Volume II 2019 (1) (1).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

                                     <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify"><strong>The Extent of the Jurisdiction
                                                 of the Customary Court of Appeal in Nigeria 
                                                 – Judicial Decisions</strong>
                                                  </div>
                                            <span> - Hon. Justice Folashade Aguda-Taiwo (Rtd).</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                            <a href="~/Documents/EULJ Volume II 2019 (1) (1).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

                                     <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify"><strong>Legal Issues Arising from 
                                                Ebola Virus and Other Epidemiological
                                                 Outbreak in Nigeria </strong>
                                                  </div>
                                            <span> - Fasilat Abimbola Olalere</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                             <a href="~/Documents/EULJ Volume II 2019 (1) (1).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

                                     <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify"><strong>An Examination of the Legal 
                                                Framework for Cyber Security in Nigeria 
                                                 </strong> </div>
                                            <span> - Joshua, Samson-Ayobami</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                  <a href="~/Documents/EULJ Volume II 2019 (1) (1).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

                                       <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify"> <strong></strong>Examination of the Legal Regime for 
                                                Informational Privacy, Data Protection and Enforcement 
                                                of Sanctions in Nigeria  </strong>
                                                  </div>
                                            <span> - M. A Lateef (PhD) & I. O Taiwo (PhD)</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                            <a href="~/Documents/EULJ Volume II 2019 (1) (1).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

                                    

                                     <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify"><strong>Rethinking the Controversial 
                                                Land Use Act and the Courts .</strong>
                                                  </div>
                                            <span> - Jide Soroye</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                           <a href="~/Documents/EULJ Volume II 2019 (1) (1).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

                                    <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify">
                                                <strong>Acquiescence to Domestic
                                                     Violence in Matrimonial
                                                      Setting and the Effect on
                                                       Women’s Mental Health </strong>
                                                  </div>
                                            <span> -  Ibidun O. Olude And Tumininu Ife-Folabi.</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                          <a href="~/Documents/EULJ Volume II 2019 (1) (1).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>


                                     <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify">
                                                <strong>Measuring the Adherence to the Rule
                                                     of Law: From Associated Gas Re-Injection Act 2004 
                                                    to Flare Gas Regulations 2018  </strong>
                                                  </div>
                                            <span> - Temilade O. Jolaosho (Ph.D).</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                           <a href="~/Documents/EULJ Volume II 2019 (1) (1).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>


                                    <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify">
                                                <strong>Measuring the Adherence to the Rule
                                                     of Law: From Associated Gas Re-Injection Act 2004 
                                                    to Flare Gas Regulations 2018  </strong>
                                                  </div>
                                            <span> - Temilade O. Jolaosho (Ph.D).</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                            <a href="~/Documents/EULJ Volume II 2019 (1) (1).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

@* Documents/EULJ Volume 3 2020 Final (3).pdf *@
                                    <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify">
                                                <strong>A Comparative Analysis of the Role of the Court in Plea Bargain Agreements in Nigeria,
                                                     South Africa and the United States      
                                                          </strong>
                                                  </div>
                                            <span> - Abiodun Ashiru</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                             <a href="~/Documents/EULJ Volume 3 2020 Final (3).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

                                     <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify">
                                                <strong>Gross Abuse of Constitutional
                                                     Guidelines and Procedural Regulations
                                                      on the Removal of Elected Public 
                                                      Officers in Nigeria: Lessons from 
                                                      other Jurisdictions         
                                                          </strong>
                                                  </div>
                                            <span>-  Dr. Oyesola Animasaun </span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                           <a href="~/Documents/EULJ Volume 3 2020 Final (3).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

                                     <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify">
                                                <strong>Legal Connotation of Crime
                                                     Against Humanity as a Subject Matter
                                                      of  Jurisdiction of the International
                                                       Crimimal Court  
                                                          </strong>
                                                  </div>
                                            <span>- Dr. Olaoluwa Rufus &  Opawoye Lukman </span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                           <a href="~/Documents/EULJ Volume 3 2020 Final (3).pdf">Read more</a>
                                        </div>
                                    </li>

                                     <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify">
                                                <strong>Amendment of the Rules of Professional 
                                                    Conduct in the Legal Profession in Nigeria:
                                                     Are there Romantic Powers between the General 
                                                     Council of the Bar and the Attorney-General of the Federation?  
                                                     
                                                          </strong>
                                                  </div>
                                            <span>-  Omoniyi Bukola Akinola, Phd,  & Ileola Ibironke Adesina </span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                            <a href="~/Documents/EULJ Volume 3 2020 Final (3).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

                                    <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify">
                                                <strong>An Examination of the Sui Generis Features 
                                                    of Election Litigation in Nigeria 
                                                     
                                                          </strong>
                                                  </div>
                                            <span> - Remi P. Olatubora SAN.  </span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                            <a href="~/Documents/EULJ Volume 3 2020 Final (3).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

                                      <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify">
                                                <strong>Compulsory Land Acquisition
                                                     in Nigeria and Incidents of Executive Recklessness: 
                                                    An Imperative for Legal Reforms   
                                                          </strong>
                                                  </div>
                                            <span> -  Joseph I. Aremo,  PhD. </span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                           <a href="~/Documents/EULJ Volume 3 2020 Final (3).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

                                      <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify">
                                                <strong>Developing the Concept of Conscientious 
                                                    Objection in Nigerian Jurisprudence
                                                     
                                                          </strong>
                                                  </div>
                                            <span> - Prof. F.A.R. Adeleke and Praise Ogabi </span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                            <a href="~/Documents/EULJ Volume 3 2020 Final (3).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>


                                     <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify">
                                                <strong>The Trajectory of the Practice of Female 
                                                    Genital Mutilation in Nigeria:
                                                     Looking Beyond Criminalisation                                                                 </strong>
                                                  </div>
                                            <span> - Oluseyi Olayanju. </span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                            <a href="~/Documents/EULJ Volume 3 2020 Final (3).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

                                     <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify">
                                                <strong>Issues and Challenges of Dissolution 
                                                    of Statutory Marriage in Nigeria 
                                                                                                                     </strong>
                                                  </div>
                                            <span> - Olajumoke Shaeeb and Olanike Adelakun-Odewale. </span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                          <a href="~/Documents/EULJ Volume 3 2020 Final (3).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

                                     <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify">
                                                <strong>Constitutionality of Caretaker
                                                     Committees in Local Government Councils in Nigeria 
                                                                                                                     </strong>
                                                  </div>
                                            <span> – Dr. Oladele, Grace Abosede </span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                           <a href="~/Documents/EULJ Volume 3 2020 Final (3).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>

                                    <li>                                       
                                        <div class="ho-ev-link pg-eve-desc">
                                            <a href="event-register.html">
                                                @* <h4>Training at Team Fabio Clemente</h4> *@
                                            </a>
                                            <div class="text-justify">
                                                <strong>The Controversial Doctrines of 
                                                    Ultra Vires and Constructive Notice in the 
                                                    Context of the Companies and Allied Matters 
                                                    Act 2020 
                                                                                                                     </strong>
                                                  </div>
                                            <span> – Dead or Alive?- B.S Shoroye</span>
                                        </div>
                                        <div class="pg-eve-reg">
                                            @* <a href="event-register.html">Register</a> *@
                                            <a href="~/Documents/EULJ Volume 3 2020 Final (3).pdf" target="_blank">Read more</a>
                                        </div>
                                    </li>




                                    
                                    
                                    
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="pg-pagina">
                            @* <ul class="pagination">
                                <li class="disabled"><a href="#!"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li class="waves-effect"><a href="#!">2</a></li>
                                <li class="waves-effect"><a href="#!">3</a></li>
                                <li class="waves-effect"><a href="#!">4</a></li>
                                <li class="waves-effect"><a href="#!">5</a></li>
                                <li class="waves-effect"><a href="#!"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul> *@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

@* <div class="container-fluid">

  
    <form asp-controller="Home" asp-action="Journal" method="post">
        <div class="form-group">
        <label>Title</label>
        <input asp-for="Title" class="form-control"/>
        </div>  

         <div class="form-group">
        <label>Author</label>
        <input asp-for="Author" class="form-control"/>
        </div>

         <div>
       <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div> *@